@model IEnumerable<NXT25_AST4_SWD5_S2_InGym.Models.GymSub>

@{
    ViewData["Title"] = "Choose Subscription";
}

<h2 class="text-center mb-4">Choose Your Subscription</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">

            <div class="card shadow h-100">

                <div class="card-header bg-danger text-white text-center">
                    <h4>@item.DurationMonths Month(s)</h4>
                </div>

                <div class="card-body text-center">

                    <h2 class="text-success">@item.Price EGP</h2>

                    <p>Duration: @item.DurationMonths Month(s)</p>

                    <a asp-action="Subscribe"
                       asp-route-id="@item.GymSubID"
                       class="btn btn-danger">
                        Subscribe
                    </a>

                </div>

            </div>

        </div>
    }

</div>