@model NXT25_AST4_SWD5_S2_InGym.ViewModels.GymViewModel

@{
    ViewData["Title"] = "Create Gym";
}

<div class="container mt-5">

    <h2 class="mb-4">Add New Gym</h2>

    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label asp-for="GymName" class="form-label"></label>
            <input asp-for="GymName" class="form-control" />
            <span asp-validation-for="GymName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RegistrationDate" class="form-label"></label>
            <input asp-for="RegistrationDate" type="date" class="form-control" />
            <span asp-validation-for="RegistrationDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Location" class="form-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">
            Save Gym
        </button>

    </form>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}