@model NXT25_AST4_SWD5_S2_InGym.ViewModels.Admin.AddGymManagerViewModel

<h2 class="mb-4">Add Gym Manager</h2>

<form asp-action="AddGymManager" method="post">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="HireDate"></label>
            <input asp-for="HireDate" type="date" class="form-control" />
        </div>

        <div class="col-md-12 mb-3">
            <label>Select Gym</label>
            <select asp-for="GymID"
                    asp-items="Model.Gyms"
                    class="form-select">
                <option value="">Choose Gym</option>
            </select>
        </div>

    </div>

    <button class="btn btn-success">
        Add Gym Manager
    </button>

</form>