@model IEnumerable<NXT25_AST4_SWD5_S2_InGym.Models.WorkoutPlan>

@{
    ViewData["Title"] = "Workout Plans";
}

<h2 class="mb-4">Workout Plans</h2>

<a asp-action="Create" class="btn btn-success mb-3">
    Add New Plan
</a>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th>Goal</th>

            <th>Start</th>

            <th>End</th>

            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Goal</td>

                <td>@item.StartDate.ToShortDateString()</td>

                <td>@item.EndDate.ToShortDateString()</td>

                <td>

                    @if (item.IsActive)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Inactive</span>
                    }

                </td>

            </tr>
        }

    </tbody>

</table>