@model IEnumerable<NXT25_AST4_SWD5_S2_InGym.Models.PrivateSub>

@{
    ViewData["Title"] = "Choose Private Package";
}

<h2 class="text-center mb-4">
    Choose Private Package
</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">

            <div class="card shadow">

                <div class="card-header bg-danger text-white">

                    @item.SessionCount Session(s)

                </div>

                <div class="card-body text-center">

                    <h3>@item.Price EGP</h3>

                    
                    <a asp-action="Subscribe"
                       asp-route-coachId="@ViewBag.CoachID"
                       asp-route-packageId="@item.PrivateSubID"
                       class="btn btn-danger">

                        Subscribe

                    </a>

                </div>

            </div>

        </div>
    }

</div>