@{
    ViewData["Title"] = "Gym Manager Dashboard";
}

<div class="container mt-5">

    <h2 class="text-danger">
        Welcome Gym Manager 👋
    </h2>

    <hr />

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">

                    <h4>Members</h4>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">

                    <h4>Coaches</h4>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">

                    <h4>Reports</h4>

                </div>
            </div>
        </div>

    </div>

</div>