@model NXT25_AST4_SWD5_S2_InGym.ViewModels.Coach.AddExerciseToPlanViewModel

<h2>Add Exercise</h2>

<form asp-action="AddExercise" method="post">

    <input asp-for="PlanID" type="hidden" />

    <div class="mb-3">
        <label>Exercise</label>
        <select asp-for="ExerciseID"
                asp-items="Model.Exercises"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label>Workout Day</label>
        <select asp-for="WorkoutDay"
                asp-items="Html.GetEnumSelectList<DayOfWeek>()"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label>Sets</label>
        <input asp-for="Sets" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Reps</label>
        <input asp-for="Reps" class="form-control" />
    </div>

    <button class="btn btn-success">
        Save
    </button>

</form>