@{
    ViewData["Title"] = "Coach Dashboard";
}

<div class="container mt-5">

    <h2 class="text-primary">
        Welcome Coach 👋
    </h2>

    <hr />

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h4>Members</h4>

                    <a asp-action="Members"
                       class="btn btn-primary mt-3">
                        Manage Members
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h4>Workout Plans</h4>

                    <a asp-action="WorkoutPlans"
                       class="btn btn-success mt-3">
                        Workout Plans
                    </a>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h4>Diet Plans</h4>

                    <a asp-action="DietPlans"
                       class="btn btn-warning mt-3">
                        Diet Plans
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>