@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">

    <div class="alert alert-success">

        <h2>Welcome @User.Identity?.Name 👋</h2>

        <p>You have successfully logged in.</p>

    </div>

</div>